{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="text-center mt-5">Login</h1>
        <form class="mt-5" action="{{ path('login') }}" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" id="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}